.image {
  height: 180px;
  width: 320px;
  margin-top: 10px;
  border-radius: 10px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #475a77;
  width: 340px;
  height: 330px;
  border-radius: 10px;
  color: #e2e2e2;
  text-decoration: none;
}
.card p {
  font-size: 10px;
}
.details-container {
  background-color: #0f0f0f;
  color: #e2e2e2;
  height: 100vh;
  padding: 10px;
}
.product-view {
  display: flex;
  gap: 10px;
}
.views {
  display: flex;
  flex-direction: column;
}
